body{
  margin:0;
  font-family: 'Do Hyeon', sans-serif;
  font-family: 'Kanit', sans-serif;
}

h1{
      color: rgb(243, 235, 237);
      font-size: 45px;
      text-shadow: 4px 6px 1px #601900;    
      transition:2s;
      font-family: 'kanit';

}



.ice{
  background-image: url("img/bgg.jpg");
  height: 120%;
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.ice1{
  background-image: linear-gradient(#FF3399, #FF7F50);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -10;
  animation: op 1.3s;
}

.ice2{
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -9;
  animation: op2 1.3s ease-in-out;
}
.icon{
  animation: icon_ani 1.3s;
  z-index: -10;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 50%;   
  
}
.icon2{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
     
  
}

.form-control{
  left: 20%;
  width: 50px;
  height: 25px;
  display: block;
  position: relative;

  
}
.head{
  /*background-color: bisque;*/
  width: 100%;
  height: 6em;
  z-index: 5;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.head h1, .head .icon_manu,.head #menu{
  display: inline-block;
  position: absolute;
}
.head h1{
  font-size:50px;
  left: 2.8em;
  margin: 0.3em;
}
.head button{
  display: inline-block;
  position: absolute;
  color:pink;
  font-size:25px;
  height: 50px;
  width: 100px;
  top: 0.8em;
  right: 4.5em;
}
.head .icon_menu,#menu .icon_menu_1, #menu .icon_menu_2 {
  position: absolute;
  top: 0.6em;
  height: 4em;
}
.head .icon_menu{
  left: 5em;
}
#menu{
  right: 0.5em;
}
#menu .icon_menu_1,#menu .icon_menu_2{
  display: block;
  position:absolute;
  right: 0.5em;
}/*
#menu:hover, .show:hover{
  background-color: burlywood;
}*/
#detail{
  background-color: cadetblue;
  width: 100%;
  height: 20em;
  z-index: 100;
  position: fixed;
  top: 6em;
  right: 0;
}
/**/
#menu.show .icon_menu_2, #detail.show{
  opacity: 1;
}
#menu.show .icon_menu_1, #detail, #menu .icon_menu_2{
  opacity: 0;
}


body, .button:after {
  background: #491C00;
}

.b-red, .b-red:before {
    background: rgba(234,110,72,1);
    background: -moz-linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(234,110,72,1)), color-stop(100%, rgba(188,26,99,1)));
    background: -webkit-linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
    background: -o-linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
    background: linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea6e48', endColorstr='#bc1a63', GradientType=1 );
  }
 
.button {
  font-family: 'Kanit', sans-serif;
  display: inline-block;
  position: relative;
  border-radius: 30px;
  text-decoration: none;
  padding: .3em;
  margin: .1em;
  font-size: 1.5em;
  font-weight: bold;
  transition: all .5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button:hover {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, .75);
}
.button:hover:after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}
.button:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  transition: all .5s;
}
.button:after {
  content: '';
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  z-index: -1;
  border-radius: 5px;
  transition: all .5s;
}




.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
/**/
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  top: 30%;
  position: relative;
  transition: all 5s ease-in-out;  
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}


.popup2 {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  top: 30%;
  position: relative;
  transition: all 5s ease-in-out;  
}
.popup2 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup2 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup2 .close:hover {
  color: #06D85F;
}
.popup2 .content {
  max-height: 30%;
  overflow: auto;
}


.popup3 {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  top: 30%;
  position: relative;
  transition: all 5s ease-in-out;  
}
.popup3 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup3 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup3 .close:hover {
  color: #06D85F;
}
.popup3 .content {
  max-height: 30%;
  overflow: auto;
}


.pin-wrapper{
  display:block;
  justify-content:center;
  align-items:center;

}


input[type="radio"] {
  display: none;
}
input[type="radio"] + label,
select {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 0;
}
input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
input[type="radio"] + label i {
  padding-right: 0.4em;
}
input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
  background-color: #f0a500;
  color: #fff;
  border-color: #bd8200;
}

.input-group {
  margin-bottom: 1em;
  zoom: 1;
}
.input-group:before,
.input-group:after {
  content: "";
  display: table;
}
.input-group:after {
  clear: both;
}
.input-group-icon {
  position: relative;
}
.input-group-icon input {
  padding-left: 4.4em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}






@keyframes icon_ani {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
    z-index: 100;
  }
  25% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 1;
    z-index: 100;
    }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
    z-index: 100;
  }
  100% {
  opacity: 0;
  z-index: -10;
  }
}

@keyframes op {
  0% {
    opacity: 1;
    z-index: 100;
  }
  25% {
    opacity: 1;
    z-index: 100;
    }
  50% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes op2 {
  0% {
    opacity: 1;
    z-index: 80;
  }
  25% {
    opacity: 1;
    z-index: 80;
  }
  50% {
    opacity: 1;
    z-index: 80;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

