body{
    background-image: url("https://www.bing.com/th/id/ABTFA3BE27BF92E72F1EF3BF174E3048105FF7EEF8D0E3D83D81188CB344B057CC8?qlt=90&pid=InlineBlock");
}
.head{
    /*background-color: bisque;*/
    width: 100%;
    height: 6em;
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
}
.head h1, .head .fa-glass-cheers, .head button, .head #menu{
    color:white;
    display: inline-block;
    position: absolute;
}
.head h1{
    font-size:50px;
    left: 2.8em;
    margin: 0.3em;
}
.head .fa-glass-cheers,#menu{
    font-size:55px;
    top: 0.3em;
}
.head button{
    color:brown;
    font-size:25px;
    height: 50px;
    width: 100px;
    top: 0.8em;
    right: 4.5em;
}
.head .fa-glass-cheers{
    color: rgb(255, 189, 238);
    left: 1.2em;
}
#menu{
    right: 0.5em;
}
#menu .fa-times, #menu .fa-bars{
    display: block;
    position:absolute;
    right: 0;
}
#menu:hover, .show:hover{
    background-color: burlywood;
}
#detail{
    background-color: cadetblue;
    width: 100%;
    height: 20em;
    z-index: 4;
    position: fixed;
    top: 6em;
    right: 0;
}
/**/
#menu.show .fa-times, #detail.show{
    opacity: 1;
}
#menu.show .fa-bars, #detail, #menu .fa-times{
    opacity: 0;
}
/**/