body{
  margin:0;
}
.ice{
  background-image: url("https://get.pxhere.com/photo/restaurant-love-meal-romance-romantic-wedding-eat-candlestick-interior-design-ceremony-glasses-bright-lovers-pair-banquet-chandelier-mood-candlelight-for-two-valentine's-day-table-decoration-cloth-napkins-wedding-reception-dinner-for-two-fine-food-function-hall-606895.jpg");
  height: 120%;
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.ice1{
  background-image: linear-gradient(#FF3399, #FF7F50);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -10;
  animation: op 1.3s;
}

.ice2{
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -9;
  animation: op2 1.3s ease-in-out;
}
.icon{
  animation: icon_ani 1.3s;
  z-index: -10;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 50%;   
}
.head{
  /*background-color: bisque;*/
  width: 100%;
  height: 6em;
  z-index: 5;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
}
.head h1, .head .fa-glass-cheers, .head button, .head #menu{
  color:white;
  display: inline-block;
  position: absolute;
}
.head h1{
  font-size:50px;
  left: 2.8em;
  margin: 0.3em;
}
.head .fa-glass-cheers,#menu{
  font-size:55px;
  top: 0.3em;
}
.head button{
  color:brown;
  font-size:25px;
  height: 50px;
  width: 100px;
  top: 0.8em;
  right: 4.5em;
}
.head .fa-glass-cheers{
  color: rgb(255, 189, 238);
  left: 1.2em;
}
#menu{
  right: 0.5em;
}
#menu .fa-times, #menu .fa-bars{
  display: block;
  position:absolute;
  right: 0;
}/*
#menu:hover, .show:hover{
  background-color: burlywood;
}*/
#detail{
  background-color: cadetblue;
  width: 100%;
  height: 20em;
  z-index: 4;
  position: fixed;
  top: 6em;
  right: 0;
}
/**/
#menu.show .fa-times, #detail.show{
  opacity: 1;
}
#menu.show .fa-bars, #detail, #menu .fa-times{
  opacity: 0;
}


body, .button:after {
  background: #491C00;
}

.b-red, .b-red:before {
    background: rgba(234,110,72,1);
    background: -moz-linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(234,110,72,1)), color-stop(100%, rgba(188,26,99,1)));
    background: -webkit-linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
    background: -o-linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
    background: linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea6e48', endColorstr='#bc1a63', GradientType=1 );
  }
 
.button {
  display: inline-block;
  position: relative;
  border-radius: 3px;
  text-decoration: none;
  padding: .5em;
  margin: .5em;
  font-size: 2em;
  font-weight: bold;
  transition: all .5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button:hover {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, .75);
}
.button:hover:after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}
.button:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  transition: all .5s;
}
.button:after {
  content: '';
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  z-index: -1;
  border-radius: 5px;
  transition: all .5s;
}




.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
/**/
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;  
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
  
@media screen and (max-width: 700px){
  .box{
    width: 70%;
    text-align: center;
  }
  .popup{
    width: 70%;  
  }
}

@keyframes icon_ani {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
    z-index: 100;
  }
  25% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 1;
    z-index: 100;
    }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
    z-index: 100;
  }
  100% {
  opacity: 0;
  z-index: -10;
  }
}

@keyframes op {
  0% {
    opacity: 1;
    z-index: 100;
  }
  25% {
    opacity: 1;
    z-index: 100;
    }
  50% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes op2 {
  0% {
    opacity: 1;
    z-index: 80;
  }
  25% {
    opacity: 1;
    z-index: 80;
  }
  50% {
    opacity: 1;
    z-index: 80;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

